.carousel {
    transition-duration: 1s;
  }
  
.{
  margin: 0;
  padding: 0;
  
}
#preloader{
background: #000  url(https://media.giphy.com/media/3ov9jKQbfWvDNu2Z0s/giphy.gif) no-repeat center center ;
height: 100vh;
background-size: 10%;
width: 100%;
position: fixed;
z-index: 100;
}
#hr1{
  width: 20vh;
  align-self: center;
  
  height: 3px;
      background: rgb(20, 255, 0); /* Initial color */
      transition: background 0.3s;
  
}
#hr1:hover{
  height: 5px;
  background: rgb(255, 145, 0);
  
}
#topnav{
  background: rgba(77, 139, 64, 0.37);
}
.map{
  width: auto;
  height: 300px;
  
}
.imgg{
  width: 100%;
  zoom: 1;
  height: 300px;
  margin-top: 13%;
  margin-left: 00px;
  
}
.dropdown-menu{
  border: 0px ;
  
}
